@page
@model BreedingLogg.Pages.Criadores.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div class="col mb-4">

    <div class="item card" style="width:1100px;">

        <h5 class="card-header">@Html.DisplayFor(model => model.Criador.NombreCriador) @Html.DisplayFor(model => model.Criador.ApellidosCriador)</h5>

        <div class="card-body">

            <h5 class="card-title">@Html.DisplayFor(model => model.Criador.NivelCriador)</h5>

            <div class="row">

                <div class="col">
                    <img width="100" height="50" alt="Responsive image" class="img-fluid" src="~/img/@Html.DisplayFor(model => model.Criador.FotoCriador)" style="border-radius:10px;" />
                </div>

                <!--DIRECCION-->
                <div class="col">
                    <h6>Dirección</h6>
                    <p class="text-muted">@Html.DisplayFor(model => model.Criador.DireccionCriadero)</p>
                </div>

                <!--ESPECIE QUE CRIA-->
                <div class="col">
                    <h6>Especie que Cria</h6>
                    <p class="text-muted">@Html.DisplayFor(model => model.Criador.EspecieQC)</p>
                </div>

                <div class="col">
                    <h6>Usuario</h6>
                    <p class="text-muted">@Html.DisplayFor(model => model.Criador.UsuarioCriador)</p>
                </div>

                <div class="col">

                </div>



            </div>
            <br />
            <div class="row">

                <div class="col">
                    <h6>Foto del Criadero</h6>
                    <img width="250" height="200" alt="Responsive image" class="img-fluid" src="~/img/@Html.DisplayFor(model => model.Criador.FotoCriadero)" style="border-radius:5px;" />
                </div>

                <div class="col">
                    <h6>Correo</h6>
                    <p class="text-muted">@Html.DisplayFor(model => model.Criador.CorreoC)</p>
                </div>

                <div class="col">
                    <h6>Redes Sociales</h6>
                    <p class="text-muted">@Html.DisplayFor(model => model.Criador.RedSocialC)</p>
                </div>

                <div class="col">

                </div>


            </div>


        </div>

        <div class="card-footer">
            <a asp-page="./Edit" asp-route-id="@Model.Criador.CriadorId"type="submit" class="btn btn-primary">Editar</a> |
            <a asp-page="./Index"type="submit" class="btn btn-primary">Cancelar</a>
        </div>

    </div>

</div>




